* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
body > main {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: hidden;
    height: 100vh;
}
*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
*::-webkit-scrollbar-thumb {
    background: #c4c4c4;
    border-radius: 10px;
}
@media screen and (max-width: 250px) {
    body *:not(main), main * {
        display: none !important;
    }
    main::before {
        content: "We are unable to display this page on your screen as is too small";
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
        text-align: center;
    }
}