.login {
    display: flex;
}
.login .bg {
    background: url(../images/login.webp) center/cover no-repeat;
    width: 70%;
    flex-shrink: 0;
    padding: 10px;
    mask-image: linear-gradient(to right, rgba(0,0,0,1) 93%, rgba(0,0,0,0));
    -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,1) 93%, rgba(0,0,0,0));
}
.login form {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 10px;
}
.login input {
    flex: 1;
    width: 100%;
    padding: 5px 0;
    border: none;
    font-size: 14px;
    background: transparent;
    outline: none;
}
.login form div {
    display: flex;
    gap: 10px;
    align-items: center;
    border-bottom: 1px solid black;
}
.login input::before {
    font: var(--fa-font-solid);
    content: "\f007";
    margin-right: 10px;
}
.login input:nth-of-type(2)::before {
    content: "\f2b5";
}
.login label:last-of-type {
    margin-top: 20px;
}
.login label {
    font-size: 16px;
    font-weight: bold;
}
.login img {
    user-select: none;
    height: 130px;
    object-fit: contain;
    user-select: none;
    padding-bottom: 10px;
    margin-bottom: 50px;
}
.login button {
    padding: 8px 30px;
    border-radius: 10px;
    border: 1px solid #d3d3d3;
    background: #ececec;
    font-size: 14px;
    cursor: pointer;
    width: max-content;
    margin-left: auto;
}
.login a {
    font-size: 13px;
    color: black;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 10px;
    background: #d3d3d3;
    text-align: center;
    display: flex;
    gap: 5px;
    align-items: center;
    width: 150px;
    border: 1px solid grey;
}
.login form div:last-of-type {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    align-items: center;
    border-bottom: none;
    justify-content: space-between
}
.fa-eye-slash, .fa-eye {
    cursor: pointer;
    width: 30px;
    display: flex !important;
    justify-content: center;
}
@media screen and (max-width: 800px) {
    .login form {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 80%;
        border-radius: 20px;
        transform: translate(-50%, -50%);
        background: rgba(255, 255, 255, 0.8);
        padding: 30px;
    }
    .login .bg {
        width: 100%;
        padding: 0 !important;
        mask-image: none;
        -webkit-mask-image: none;
    }
    .login img {
        margin-bottom: 30px;
    }
    .login form div:last-of-type {
        flex-direction: column;
    }
    .login a {
        width: 100%;
    }
}