.profile_container {
    padding: 10px 20px 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: auto;
    flex: 1;
}
.profile_container > div, .profile_container > form {
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    transition: box-shadow 0.2s ease;
}
.profile_container > div:hover, .profile_container > form:hover {
    box-shadow: 1px 1px 10px black;
}
.profile_container h2 {
    font-size: 20px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
}
.profile_container h3 {
    font-size: 17px;
}
.profile_container > div > div:not(.profile_proficiency), .profile_container > form > div {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 10px;
    align-items: center;
}
.profile_container > div p:nth-child(odd), .profile_container > div > div > label, .profile_container > form > div > label, .profile_container > form p {
    font-weight: bold;
}
.profile_container input {
    border: none;
    border-bottom: 1px solid black;
    padding: 8px 0;
    outline: none;
}
.profile_container input[type='file'] {
    display: none;
}
.profile_container input[type='file'] + label {
    border: 1px solid black;
    border-radius: 50%;
    width: 150px;
    aspect-ratio: 1;
    grid-column: span 2;
}
.profile_container input[type='file'] + label:hover::after {
    background: rgba(211, 211, 211, 0.9);
    width: 100%;
    display: flex;
    height: 100%;
    border-radius: 50%;
    content: "\f044";
    font-size: 50px !important;
    justify-content: center;
    align-items: center;
    font: var(--fa-font-solid);
    cursor: pointer;
}
.profile_container input[type='radio'] {
    display: none;
}
.profile_container input[type='radio'] + label {
    border: 1px solid black;
    padding: 3px 8px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 13px;
}
.profile_container input[type='radio']:checked + label {
    background: lightgrey;
}
.profile_container button {
    padding: 5px 10px;
    margin-left: auto;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid black;
    min-width: 100px;
}
.profile_container button#delete {
    background-color: rgb(235, 0, 0);
    color: white;
    margin-top: 0;
}
.profile_container .profile_proficiency {
    padding: 10px 0;
    font-size: 13px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.profile_container .profile_proficiency span {
    padding: 5px 8px;
    display: flex;
    gap: 15px;
    cursor: pointer;
    align-items: center;
    width: max-content;
    background: lightgrey;
    border-radius: 20px;
}
.profile_container .profile_proficiency span::after {
    font: var(--fa-font-solid);
    content: "\f00d";
    font-size: 16px;
}
.profile_container .profile_proficiency input {
    width: 180px;
    padding: 5px 8px;
    display: flex;
    gap: 15px;
    align-items: center;
    width: max-content;
    border: none;
    background: lightgrey;
    border-radius: 20px;
}
.profile_container #delete_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile_container #delete_container div {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 14px;
}
.profile_container #delete_container input {
    accent-color: black;
}